* {
	box-sizing: border-box;
}

header {
	text-align: center;
	font-size: 30px;
	background-color: #2952a3;
	color: white;
	padding: 5px;
	margin-bottom: 10px;
}

#game {
	width: 640px;
	margin: 0 auto;
}

footer {
	text-align: center;
	background-color: #2952a3;
	color: white;
	padding: 5px;
}